# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Data & Exports
*.xml
*.m3u
output/
outputs/
staging/
.cache
.spotify_track_cache.json
.spotify_track_cache.tmp
.env

# macOS
.DS_Store
._*

# IDEs
.vscode/
.idea/

# Private
download_missing.py

# Private scripts
download_missing.py
